**/.DS_Store
node_modules/
articles/The_Goose_Bride-rebuild-git.log
articles/The_Goose_Bride-update-git-history.sh
articles/The_Goose_Bride-rebuild-git-blame.log
/biblos/bookdata_new
/biblos/Bible_other_translations_etc
